[submodule "repos/18_jiaoqiqi/markDownLog"]
	path = repos/18_jiaoqiqi/markDownLog
	url = https://github.com/jiaoqiqi/markDownLog
[submodule "repos/56_daodao1996/induction_training"]
	path = repos/56_daodao1996/induction_training
	url = https://github.com/daodao1996/induction_training
[submodule "repos/189_313183373/TaskCard-Makrdown"]
	path = repos/189_313183373/TaskCard-Makrdown
	url = https://github.com/313183373/TaskCard-Makrdown
[submodule "repos/1921_CorporateTraining/CulturalCourse"]
	path = repos/1921_CorporateTraining/CulturalCourse
	url = https://github.com/CorporateTraining/CulturalCourse
[submodule "repos/2929_kikychn/tw-pre-employment-training"]
	path = repos/2929_kikychn/tw-pre-employment-training
	url = https://github.com/kikychn/tw-pre-employment-training
[submodule "repos/3786_wenyuntian/TW_homework"]
	path = repos/3786_wenyuntian/TW_homework
	url = https://github.com/wenyuntian/TW_homework
[submodule "repos/3855_carefreeMa/ThoughtWorks-Homework"]
	path = repos/3855_carefreeMa/ThoughtWorks-Homework
	url = https://github.com/carefreeMa/ThoughtWorks-Homework
[submodule "repos/4081_Amuro1997/ThoughtWorks_week1"]
	path = repos/4081_Amuro1997/ThoughtWorks_week1
	url = https://github.com/Amuro1997/ThoughtWorks_week1
[submodule "repos/4139_BlueSkylover/Document2"]
	path = repos/4139_BlueSkylover/Document2
	url = https://github.com/BlueSkylover/Document2
[submodule "repos/4140_ZenZing/thoughtworks-1"]
	path = repos/4140_ZenZing/thoughtworks-1
	url = https://github.com/ZenZing/thoughtworks-1
[submodule "repos/4141_Ruifeng-Wu/InTW"]
	path = repos/4141_Ruifeng-Wu/InTW
	url = https://github.com/Ruifeng-Wu/InTW
[submodule "repos/4142_Evidence999/TW_Markdown"]
	path = repos/4142_Evidence999/TW_Markdown
	url = https://github.com/Evidence999/TW_Markdown
[submodule "repos/4144_niniaibu/Thoughtworks_homework"]
	path = repos/4144_niniaibu/Thoughtworks_homework
	url = https://github.com/niniaibu/Thoughtworks_homework
[submodule "repos/4145_xiexinyi/markdown-demo"]
	path = repos/4145_xiexinyi/markdown-demo
	url = https://github.com/xiexinyi/markdown-demo
[submodule "repos/4146_shuqian1/ThoughtWorks_HomeWork"]
	path = repos/4146_shuqian1/ThoughtWorks_HomeWork
	url = https://github.com/shuqian1/ThoughtWorks_HomeWork
[submodule "repos/4148_yuzhongyangwang/MyLearn"]
	path = repos/4148_yuzhongyangwang/MyLearn
	url = https://github.com/yuzhongyangwang/MyLearn
[submodule "repos/4149_DukeLuo/TW2019"]
	path = repos/4149_DukeLuo/TW2019
	url = https://github.com/DukeLuo/TW2019
[submodule "repos/4151_iochenlei/blog"]
	path = repos/4151_iochenlei/blog
	url = https://github.com/iochenlei/blog
[submodule "repos/4152_tongsq19/program-center"]
	path = repos/4152_tongsq19/program-center
	url = https://github.com/tongsq19/program-center
[submodule "repos/4177_XueqingZhu/BA"]
	path = repos/4177_XueqingZhu/BA
	url = https://github.com/XueqingZhu/BA
[submodule "repos/4189_Galileo2010/TW-MarkdownAndGit"]
	path = repos/4189_Galileo2010/TW-MarkdownAndGit
	url = https://github.com/Galileo2010/TW-MarkdownAndGit
[submodule "repos/4220_Cecilia3333/Cecilia"]
	path = repos/4220_Cecilia3333/Cecilia
	url = https://github.com/Cecilia3333/Cecilia
[submodule "repos/4350_IvoreeL/ThoughtWorks_HWs"]
	path = repos/4350_IvoreeL/ThoughtWorks_HWs
	url = https://github.com/IvoreeL/ThoughtWorks_HWs
[submodule "repos/4368_XiaoRr/XiaoRr.github.io"]
	path = repos/4368_XiaoRr/XiaoRr.github.io
	url = https://github.com/XiaoRr/XiaoRr.github.io
[submodule "repos/4369_ChrisMaze/TW-School"]
	path = repos/4369_ChrisMaze/TW-School
	url = https://github.com/ChrisMaze/TW-School
[submodule "repos/4371_facccge/thoughtworks_training"]
	path = repos/4371_facccge/thoughtworks_training
	url = https://github.com/facccge/thoughtworks_training
[submodule "repos/4372_longfei004/Homework"]
	path = repos/4372_longfei004/Homework
	url = https://github.com/longfei004/Homework
[submodule "repos/4373_595972434/TW-homework1"]
	path = repos/4373_595972434/TW-homework1
	url = https://github.com/595972434/TW-homework1
[submodule "repos/4374_ffffffan0909/Blog"]
	path = repos/4374_ffffffan0909/Blog
	url = https://github.com/ffffffan0909/Blog
[submodule "repos/4375_fishsalted/tw_task"]
	path = repos/4375_fishsalted/tw_task
	url = https://github.com/fishsalted/tw_task
[submodule "repos/4376_CocaineLee/Twhomework"]
	path = repos/4376_CocaineLee/Twhomework
	url = https://github.com/CocaineLee/Twhomework
[submodule "repos/4377_zdazx/twLearning"]
	path = repos/4377_zdazx/twLearning
	url = https://github.com/zdazx/twLearning
[submodule "repos/4378_Aurora-XD/homework"]
	path = repos/4378_Aurora-XD/homework
	url = https://github.com/Aurora-XD/homework
[submodule "repos/4379_Irrony/study"]
	path = repos/4379_Irrony/study
	url = https://github.com/Irrony/study
[submodule "repos/4380_LiYixuan1226/homework_week1"]
	path = repos/4380_LiYixuan1226/homework_week1
	url = https://github.com/LiYixuan1226/homework_week1
[submodule "repos/4381_Qianru-He/Little-fish"]
	path = repos/4381_Qianru-He/Little-fish
	url = https://github.com/Qianru-He/Little-fish
[submodule "repos/4382_Janetchu3/Markdown-Guide"]
	path = repos/4382_Janetchu3/Markdown-Guide
	url = https://github.com/Janetchu3/Markdown-Guide
[submodule "repos/4389_konglanxin/1-markdown"]
	path = repos/4389_konglanxin/1-markdown
	url = https://github.com/konglanxin/1-markdown
[submodule "repos/4390_wql00/training"]
	path = repos/4390_wql00/training
	url = https://github.com/wql00/training
[submodule "repos/4397_yanggfann/Thoughtworks_training"]
	path = repos/4397_yanggfann/Thoughtworks_training
	url = https://github.com/yanggfann/Thoughtworks_training
[submodule "repos/4401_Yankun0903/Summary"]
	path = repos/4401_Yankun0903/Summary
	url = https://github.com/Yankun0903/Summary
[submodule "repos/4402_NickMengChen/Summary_Jan2019"]
	path = repos/4402_NickMengChen/Summary_Jan2019
	url = https://github.com/NickMengChen/Summary_Jan2019
[submodule "repos/4403_DEMI0815/TW-homework"]
	path = repos/4403_DEMI0815/TW-homework
	url = https://github.com/DEMI0815/TW-homework
[submodule "repos/4404_xiaoyiyue77/homework1"]
	path = repos/4404_xiaoyiyue77/homework1
	url = https://github.com/xiaoyiyue77/homework1
[submodule "repos/4410_liyuting1010/Frist-Training-Experience"]
	path = repos/4410_liyuting1010/Frist-Training-Experience
	url = https://github.com/liyuting1010/Frist-Training-Experience
[submodule "repos/4437_liangqingxiang/tw-tasks"]
	path = repos/4437_liangqingxiang/tw-tasks
	url = https://github.com/liangqingxiang/tw-tasks
[submodule "repos/4441_xiujing-wang/hello-world"]
	path = repos/4441_xiujing-wang/hello-world
	url = https://github.com/xiujing-wang/hello-world
[submodule "repos/4442_Czkl/TW_training-camp"]
	path = repos/4442_Czkl/TW_training-camp
	url = https://github.com/Czkl/TW_training-camp
[submodule "repos/4443_asaxing/tw-homework"]
	path = repos/4443_asaxing/tw-homework
	url = https://github.com/asaxing/tw-homework
[submodule "repos/4444_maomaozi/Markdown-Recap"]
	path = repos/4444_maomaozi/Markdown-Recap
	url = https://github.com/maomaozi/Markdown-Recap
[submodule "repos/4445_xialinmao1/TWculture-homework"]
	path = repos/4445_xialinmao1/TWculture-homework
	url = https://github.com/xialinmao1/TWculture-homework
[submodule "repos/4446_LovePluto/ThoughtWorksStudy"]
	path = repos/4446_LovePluto/ThoughtWorksStudy
	url = https://github.com/LovePluto/ThoughtWorksStudy
[submodule "repos/4448_Somoey/homework"]
	path = repos/4448_Somoey/homework
	url = https://github.com/Somoey/homework
[submodule "repos/4451_liununu/TWS"]
	path = repos/4451_liununu/TWS
	url = https://github.com/liununu/TWS
[submodule "repos/4452_Aysnine/hello-thoughtworks"]
	path = repos/4452_Aysnine/hello-thoughtworks
	url = https://github.com/Aysnine/hello-thoughtworks
[submodule "repos/4454_jingliang0414/TWS-PRACTICE-Week1"]
	path = repos/4454_jingliang0414/TWS-PRACTICE-Week1
	url = https://github.com/jingliang0414/TWS-PRACTICE-Week1
[submodule "repos/4456_jiangzijie123/culture"]
	path = repos/4456_jiangzijie123/culture
	url = https://github.com/jiangzijie123/culture
[submodule "repos/4458_ZJYEleanor/TW"]
	path = repos/4458_ZJYEleanor/TW
	url = https://github.com/ZJYEleanor/TW
[submodule "repos/4460_MyCocoHeart/TaskOfThoughtworks"]
	path = repos/4460_MyCocoHeart/TaskOfThoughtworks
	url = https://github.com/MyCocoHeart/TaskOfThoughtworks
[submodule "repos/4464_xudong-yang/TW-School-2019"]
	path = repos/4464_xudong-yang/TW-School-2019
	url = https://github.com/xudong-yang/TW-School-2019
[submodule "repos/4465_bohenmian/summary"]
	path = repos/4465_bohenmian/summary
	url = https://github.com/bohenmian/summary
[submodule "repos/4467_liuyuhang997/thoughtworks-school"]
	path = repos/4467_liuyuhang997/thoughtworks-school
	url = https://github.com/liuyuhang997/thoughtworks-school
[submodule "repos/4468_litost0610/TWtest"]
	path = repos/4468_litost0610/TWtest
	url = https://github.com/litost0610/TWtest
[submodule "repos/4491_VickeyLee/TW-homework"]
	path = repos/4491_VickeyLee/TW-homework
	url = https://github.com/VickeyLee/TW-homework
[submodule "repos/4498_ItGirls/ThoughtWorksPracticse"]
	path = repos/4498_ItGirls/ThoughtWorksPracticse
	url = https://github.com/ItGirls/ThoughtWorksPracticse
[submodule "/Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4389_konglanxin/2-1-html"]
	path = /Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4389_konglanxin/2-1-html
	url = https://github.com/konglanxin/2-1-html
[submodule "/Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4402_NickMengChen/Homework2"]
	path = /Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4402_NickMengChen/Homework2
	url = https://github.com/NickMengChen/Homework2
[submodule "/Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4404_xiaoyiyue77/homework2"]
	path = /Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4404_xiaoyiyue77/homework2
	url = https://github.com/xiaoyiyue77/homework2
[submodule "/Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4454_jingliang0414/TWS-PRACTICE-Week2"]
	path = /Users/zjyu/Projects/github/trotyl/thoughtworks-lecture-2019/repos/4454_jingliang0414/TWS-PRACTICE-Week2
	url = https://github.com/jingliang0414/TWS-PRACTICE-Week2
